:root {
  --accent-color:#34547A;
  --bg-color: #EEEFF1;
  --secondary-bg-color: #fff;
  --text-color: #727272;
  --scale-color: #c4c4c4;
 
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.link {
  text-decoration: none;
  /* color: inherit; */
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-content {
  font-size: 1rem;
  color: var(--text-color);
}

.text-content,
.main-heading,
.sub-heading {
  line-height: 1.4;
}

.color-override {
  color: inherit;
}

.main-heading,
.sub-heading { 
  font-weight: 500;
}

.main-heading {
  font-size: 3rem;
}

.sub-heading {
  font-size: 2rem;
  margin-bottom: 30px;
}

.btn {
  display: block;
  padding: 20px;
  width: 180px;
  text-transform: uppercase;

  border: none;
  background-color: var(--accent-color);
  color: var(--secondary-bg-color);
}

.section-padding{  
  padding: 60px 0;
}



@media screen and (min-width: 576px){
  :root {
    font-size: 15px;
  }
}

@media screen and (min-width: 992px){
  :root {
    font-size: 16px;
  }
}