.submit-form {
  background-color: var(--bg-color);
}

.form-content {
  text-align: center;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.name-input,
.email-input,
.message-input {
  display: block;
  width: 100%;
  margin: 30px 0;
}

.message-input {
  height: 175px;
  resize: none;
  margin: 0;
}

.message-input::placeholder {
  font: 400 14px 'Roboto', sans-serif;
}

.form-style {
  border: none;
  padding: 15px 20px;
}

.form-style::placeholder,
.message-input::placeholder {
  font-size: 14px;
}

.form-btn-margins {
  margin: 30px auto 0;
}

@media screen and (min-width:992px) {
  .form-row {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }

  .name-input,
  .email-input {
   display: block;
   width: 45%;
   margin: 30px 0;
  }

  .form-btn-margins,
  .form-content {
    margin-top: 40px;
  }
}
